<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS</title>
</head>
<body>
    <div class="container">
      <h2>Inventory</h2>
      <ul>
        {% for item in items %}
        <li>{{ item.remarks }}</li>
        <li>{{ item.added_ts }}</li>
        <li>{{ item.quantity }}</li>
        <li>{{ item.location }}</li>
        <li>{{ item.item_type }}</li>
        <li>{{ item.item_name }}</li>
        <li>{{ item.model_num }}</li>
        <li>{{ item.project_name }}</li>
        <li>{{ item.item_serial_num }}</li>
        <li>{{ item.calibration_date }}</li>
        {% endfor %}        
      </ul>
      <hr>        
    </div>        
</body>
</html>
