{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">item_name</th>
              <th scope="col">project_name</th>
              <th scope="col">remarks</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td>{{ order_item.item.item_name }}</td>
            <td>{{ order_item.item.project_name }}</td>
            <td>{{ order_item.item.remarks }}</td>
            <td>
              <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
                <i class="fas fa-minus mr-2"></i></a>
              {{ order_item.quantity }}
              <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
              
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Your cart is empty</td>
          </tr>
          <tr>
            <td colspan="5">
              <a class="btn btn-primary float-right" href="/">Continue shopping</a>
            </td>
          </tr>
          {% endfor %}
          {% if object.items.all.count > 0 %}
          <tr>
            <td colspan="5">
              <a class="btn btn-warning float-right ml-2" href="/checkout">Proceed to checkout</a>
              <a class="btn btn-primary float-right" href="/">Continue shopping</a>
            </td>
          </tr>
          {% endif %}
          </tbody>
        </table>
      </div>

    </div>
  </main>
  <!--Main layout-->  
{% endblock content %}